---
import { siteConfig } from '../../utils/infoSite.jsx';
import '@styles/global.css';
---

<!doctype html>
<html lang="es">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <title>{Astro.props.title ? `${Astro.props.title}` : 'ErikMann - LinkTree'}</title>
   </head>

   <body class="min-h-screen flex justify-center items-start text-font_color relative bg-[#030303]">
      <picture class="fixed inset-0 -z-10 w-full h-full">
         <source srcset={siteConfig.assets.background} type="image/jpeg" />
         <img
            src={siteConfig.assets.background}
            alt="Fondo LinkTree ErikMann"
            class="object-cover w-full h-full"
            loading="eager"
            decoding="async"
         />
      </picture>
      <main class="w-full max-w-xl flex flex-col items-center text-center px-6 py-8">
         <slot />
      </main>
   </body>
</html>
